@charset "utf-8";
/* --------------------------------------------- */
/* common style */
/* --------------------------------------------- */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: $font_sans_jp;
  font-weight: normal;
  font-style: normal;
  color: $white;
  line-height: 1;
  letter-spacing: 0.05em;
  background: $dk_white;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-style: normal;
}

::selection {
  color: $white;
  background: $gray;
}

::-moz-selection {
  color: $white;
  background: $gray;
}

a:link {
  color: $lt_black;
  text-decoration: none;
}

a:visited {
  color: $lt_black;
}

a:hover {
  color: $lt_gray;
}

a:active {
  color: $gray;
}

/* --------------------------------------------- */
/* wrap */
/* --------------------------------------------- */
#wrap {
  position: relative;
  width: 375px;
  margin: 0 auto;
  padding: 58px 0 0 0;
  background: $white;
}

body#smp{
}

body#pc{
}

/* --------------------------------------------- */
/* layout */
/* --------------------------------------------- */


/* --------------------------------------------- */
/* loading */
/* --------------------------------------------- */
.loadCircleAnima {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px 0 0 -16px;
  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    animation: rotate 1800ms cubic-bezier($easeIn-out-circ) infinite;
    border-radius: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid $lt_gray;
    border-left: 1px solid #fff;
    border-right: 1px solid $lt_gray;
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }

  80% {
    transform: rotateZ(0deg);
  }

}

